@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    font-family: PeydaWebFaNum, Arial, Helvetica, sans-serif;
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    @apply bg-zinc-200 w-2 h-2;
}

::-webkit-scrollbar-thumb:horizontal {
    @apply bg-zinc-300;
}

::-webkit-scrollbar-thumb:vertical {
    @apply bg-zinc-300;
}

* {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/* ---------------------------------------------------------------------- */
/* Tailwind are */

@layer utilities {
    .glass {
        backdrop-filter: blur(20px) saturate(150%);
        -webkit-backdrop-filter: blur(20px) saturate(150%);
    }

    .app-px {
        @apply px-4 sm:px-16 md:px-28 lg:px-40 xl:px-48;
    }
}

/* ---------------------------------------------------------------------- */
/* Fonts area */

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/IRANYekanX/IRANYekanX-Regular.woff") format("woff"),
        url("/assets/fonts/IRANYekanX/IRANYekanX-Regular.woff2") format("woff2");
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff"),
        url("/assets/fonts/IRANYekanX/IRANYekanX-Bold.woff2") format("woff2");
}

.ss02 {
    font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
}

@font-face {
    font-family: BNazanin;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/BNazanin/BNazanin.ttf") format("truetype"),
        url("/assets/fonts/BNazanin/BNazanin.ttf") format("truetype");
}

@font-face {
    font-family: BNazanin;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/BNazanin/BNazanin-Bold.ttf") format("truetype"),
        url("/assets/fonts/BNazanin/BNazanin-Bold.ttf") format("truetype");
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-Thin.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-Thin.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-ExtraLight.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-ExtraLight.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-Light.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-Light.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-Medium.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-Medium.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-SemiBold.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-SemiBold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-ExtraBold.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-ExtraBold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-Black.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-Black.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-Bold.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-Bold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: PeydaWebFaNum;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Peyda/woff2/PeydaWebFaNum-Regular.woff2")
            format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
            url("/assets/fonts/Peyda/woff/PeydaWebFaNum-Regular.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
